body {
  font-family: Courier New, monospace;
  background-image: url('https://c.tenor.com/n3qr8aWprFsAAAAd/relaxing-rainbow.gif');
  background-size: cover;
  color: white;
  text-align: center;
}